
body{
	font-family: helvetica;
	margin: 0;
}

a { color: inherit;
} 

ul li a{
	text-decoration: none;
	color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: black;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
}

nav li a:hover {
    color: #E3701A;
}

nav {
	position: fixed;
    margin: 0px;
    width:100%;
 	  top:0px;
    z-index:1000;
}

.spacer{
    width: 100%;
    height: 10px;
    margin: 0;
}

#contact {
    float:right;
}

#background1{
  background-image: url("https://images.unsplash.com/photo-1461685265823-f8d5d0b08b9b");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    size: 10%;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    margin: 0%;
} 


#title1 {
   position: absolute; 
   top: 300px; 
   width: 100%;

}

#title1 span { 
   color: white; 
   font: bold 24px;
   letter-spacing: 3px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 5% 10% 5% 10%;
   float: left;

}

#background2{
  background-image: url("https://images.unsplash.com/photo-1414509613498-f53000d3d2c1");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    margin: 0%;
    display: block;
} 

#title2 {
   position: absolute;
   top: 300px;
   width: 100%;
}

#title2 span { 
   color: white; 
   font: bold 24px;
   letter-spacing: 3px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 5% 10% 5% 10%;
   float: left;

}

#box1{
    float: right;
    width: 25%;
    background-color: #8d1e34;
    position: relative;
  
 }

 #box1 p{
  float: right;
  width: 75%;
  padding: 20px;
  color: #ffffff;
  font-style: italic;
 }

 #box2{
    float: right;
    width: 25%;
    background-color: #406b85;
    position: relative;
 }

 #box2 p{
  float: right;
  width: 75%;
  padding: 20px;
  color: #ffffff;
  font-style: italic;
 }

 .content {
padding: 10px;
 }

 @media only screen and (max-width: 750px) {
    #title1 {
        display: none;
    }

    #title2{
        display: none;
    }
    #contact{
        display: none;
    }

    #box1{
      display: none;
    }

    #box2{
      display: none;
    }
  }

