/*Marjolein Koudijs*/

* {
	font-family: 'Muli', sans-serif;
	color: white;
}

#background {
	background-image: url("../images/background_contribute.jpg");
    background-position:  center bottom;
    background-size: cover;
    overflow: hidden;
    height: 600px;
}
#header {
	background-color: black;
	opacity: 0.7;
	width: 50%;
	height: 400px;
	border-radius: 10px;
	margin: 100px auto;
}
#header h1 {
	text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
#header h2 {
	text-align: center;
    padding: 20px;
}
#sectie {
	background-image: url("../images/background_contribute2.jpg");
    background-position:  center bottom;
    background-size: cover;
    overflow: hidden;
    height: 1200px;
}
#nieuwsbrief {
	background-color: black;
	opacity: 0.7;
	width: 50%;
	height: 500px;
	border-radius: 10px;
	margin: 100px auto;
}
#nieuwsbrief h1 {
	text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
#nieuwsbrief h2 {
	text-align: center;
}
#donatie {
	background-color: black;
	opacity: 0.7;
	width: 50%;
	height: 400px;
	border-radius: 10px;
	margin: 100px auto;
}
#donatie h1 {
	text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
#donatie h2 {
	text-align: center;
}

a:link, a:visited {
	color: red;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*Footer*/
#footer {
	height: 100px;
	background-color: black;
	text-align: center;
}
#toTop {
	padding-top: 10px;
	padding-bottom:10px;
}
#toTop a:link, #toTop a:visited {
	color: white;
	text-decoration: none;
}
#toTop a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 760px) {
	#header {
		width: 90%;
		margin: 5% auto;
	}
	#nieuwsbrief {
		width: 90%;
		margin: 10% auto;
	}
	#donatie {
		width: 90%;
		margin: 10% auto;
	}
	#header h1 {
		padding:0px;
	}

	#header h2 {
    padding: 0px;
	}
    #nieuwsbrief h1 {
		padding:0px;
	}
	#donatie h1 {
		padding:0px;
	}
}