* {
    font-family: 'Muli', sans-serif;
    color: white;
}

/*Navigation*/
nav {
    padding: 10px;
}


/*Header One*/
#background-one {
    background-image: url(https://images.unsplash.com/photo-1461685265823-f8d5d0b08b9b);
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 600px;
    clear: left;
}

#box-one {
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 150px;
    border-radius: 10px;
    margin: 100px auto;
}

#box-one h1 {
    text-align: center;
    padding: 30px;
}

/*Header Two*/
#background-two {
    background-image: url(https://images.unsplash.com/photo-1414509613498-f53000d3d2c1);
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 600px;
    clear: left;
}

#box-two {
    text-align: center;
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 150px;
    border-radius: 10px;
    margin: 150px auto;
}

#box-two h1 {
    text-align: center;
    padding: 30px;
}
/*Content*/
p {
    color: black;
}

#quote-one {
    background-color: #8d1e34;
    font-style: italic;
    padding:20px;
}

#quote-two {
    background-color: #406b85;
    font-style: italic;
    padding:20px;
}


/*Footer*/
#footer {
    height: 100px;
    background-color: black;
    text-align: center;
}

#top {
    padding-top: 10px;
    padding-bottom: 10px;
}


#top a:link, #top a:visited {
    color: white;
    text-decoration: none;
}

#top a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 760px) {
    #box-one {
        width: 90%;
        margin: 5% auto;
        margin-top: 180px;
    }

    #box-two {
        width: 90%;
        margin: 10% auto;
    }

    #quote-one{
        display: none;
    }

    #quote-two{
        display: none;
    }

}