* {
	font-family: 'Helvetica 27px', sans-serif;
    color: white;
}

/*Navigation*/
nav {
    padding: 10px;
}

#background {
    background-image: url("../images/background1.jpg");
    background-position:  center bottom;
    background-size: cover;
    overflow: hidden;
    height: 2000px;
}
#header {
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 150px;
    border-radius: 10px;
    margin: 100px auto;
    margin-top: 150px;
}
#header h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
#headerSub {
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    padding: 25px;
    margin: 100px auto;
    text-align: center;
}
#buttons {
    margin: 20px;
    text-align: center;
}
button {
    background-color: grey;
    text-align: center;
    padding: 10px;
    width: 100px;
}
button:focus {
  outline: none;
}

#video {
    background-color: black;
    width: 80%;
    height: 550px;
    border-radius: 10px;
    margin: 100px auto;
}
#video h1 {
    text-align: center;
    text-transform: uppercase;
}
#video button {
    text-align: center;
    width: 300px;
    height: 50px;
    background-color: red;
    border: none;
}
.slideText{
    border: solid red;
    background-color: grey;
    height: 300px;
    width: 300px;
    display: none;
}

/*Footer*/
#footer {
    height: 100px;
    background-color: black;
    text-align: center;
}
#toTop {
    padding-top: 10px;
    padding-bottom:10px;
}
#footer a:link, #footer a:visited {
    color: white;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: none;
}
#toTop a:link, #toTop a:visited {
    color: white;
    text-decoration: none;
}
#toTop a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 760px) {
    #header {
        width: 90%;
        height:200px;
        margin: 5% auto;
        margin-top: 180px;
        padding: 0px;
    }
    #headerSub {
        width: 90%;
        height:400px;
        margin: 5% auto;
        padding: 10px;
    }
    #video {
        width: 90%;
        height:2000px;
        margin: 10% auto;
    }

}